@charset "UTF-8";

.none {
	display: none !important;
}

.text-center {
	text-align: center !important;
}

.fw-bolder {
	font-weight: bolder !important;
}

.px-lg-5 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}
