@charset "UTF-8";

.landing-page {
	display: flex;
	justify-content: center;
	/* 이미지 크기 자동 조절을 위한 세로축 가운데 정렬 */
	align-items: center;
	/* 뷰포트의 30% 차지 */
	height: 30vh;
	overflow: hidden;
	/* 자식 요소 absolute 위치의 기준 */
	position: relative;
}

.landing-search {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 38%;
	padding: 12px 10px 12px 10px;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}

.landing-img {
	width: 100%;
	height: 100%;
	/* 이미지 비율 유지 */
	object-fit: cover;
}