.right-sidebar > .title {
	margin-left: 2rem;
	width: 200px;
}

.left-sidebar > .hashtag {
	margin-right: 0.5rem;
}

.left-sidebar > .button {
	margin-top: 1rem;
	margin-left: -2.5rem;
	text-align: center;
}

.left-sidebar > .none {
	display: none;
}